
<head>
  <title>Inbox</title>
</head>

<body>
  <div>
    <h2>See your Chats with</h2>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <table class = "table bg-light">
        <thead>
        <tr>
          <th>Chats</th>
          <th>Last Message</th>
          <th>Unreaded</th>
        </tr>
        </thead>

      <%@mem=[] %>
      <%for c in @inbox_c %>
        <%for u in @inbox_u %>
          <%if c.inbox1_id == current_user.id %>
            <%if @mem.include? User.find(c.inbox2_id).userName %>
            <%else %>
                <tbody>
                <%= form_tag({:chat=>"post", :action=>"open_chat"}, method: :post) do %>
                <%= hidden_field_tag :chat_id, c.id %>
                  <%if Message.where(chat_id:c.id).order(created_at: :desc).first == nil %>
                  <%else %>
                    <td><%= submit_tag User.find(c.inbox2_id).userName, class: ["btn", "btn-light"] %></td>
                  <%end %>
              <%end %>
                <%if Message.where(chat_id:c.id).order(created_at: :desc).first == nil %>
                  <td></td>
                <%else %>
                  <td><%=truncate(Message.where(chat_id:c.id).order(created_at: :desc).first.text, :length => 60) %></td>
                  <%if Message.where(chat_id:c.id).order(created_at: :desc).first.msg_status == false%>
                    <%if Message.where(chat_id:c.id).order(created_at: :desc).first.user_id == current_user.id %>
                    <%else %>
                      <td>Unreaded</td>
                    <%end %>
                  <%else %>
                    <td></td>
                  <%end %>
                <%end %>
                <%@mem << User.find(c.inbox2_id).userName %>
                </tbody>
              <%end %>
          <%elsif c.inbox2_id == current_user.id%>
              <%if @mem.include? User.find(c.inbox1_id).userName %>
              <%else %>
                <tbody>
                <%= form_tag({:chat=>"post", :action=>"open_chat"}, method: :post) do %>
                  <%= hidden_field_tag :chat_id, c.id %>
                  <%if Message.where(chat_id:c.id).order(created_at: :desc).first == nil %>
                  <%else %>
                  <td><%= submit_tag User.find(c.inbox1_id).userName, class: ["btn", "btn-light"] %></td>
                  <%end %>
                <%end %>
                  <%if Message.where(chat_id:c.id).order(created_at: :desc).first == nil %>
                    <td></td>
                  <%else %>
                    <td><%=truncate(Message.where(chat_id:c.id).order(created_at: :desc).first.text, :length => 60) %></td>
                  <%if Message.where(chat_id:c.id).order(created_at: :desc).first.msg_status == false%>
                    <%if Message.where(chat_id:c.id).order(created_at: :desc).first.user_id == current_user.id %>
                    <%else %>
                      <td>Unreaded</td>
                    <%end %>
                  <%else %>
                    <td></td>
                  <%end %>
                <%end %>
                <%@mem << User.find(c.inbox1_id).userName %>
                </tbody>
              <%end %>
            <%else %>
          <%end %>
        <%end %>
      <%end %>



      </table>
    </div>
  </div>
</body>

<footer>
  <div class="row">
    <div class="col-9"></div>
      <div class="col-3">
        <div align="left">
          <%= link_to "Back", root_path, class:["btn","btn-light"] %>
        </div>
      </div>
  </div>
</footer>
