<h1>Editing Profile Page</h1>

<div id="fakebox-test"></div>
<div>Name: <input id="fakebox-input" autocomplete="off" tabindex="-1" value placeholder="<%=@profile_page.name %>" type="typebox" aria-hidden="true"></div><br><br>
<div>Email: <input id="fakebox-input" autocomplete="off" tabindex="-1" value placeholder="<%=@profile_page.user.email %>" type="typebox" aria-hidden="true"></div><br><br>
<p class="user_photo"><strong>Photo: </strong>  <%=@profile_page.picture %><br></p>

<%= render 'form', profile_page: @profile_page %>

<%= link_to 'Show', @profile_page %> |
<%= link_to 'Back', profile_page_path(params[:id]) %>
