<%=stylesheet_link_tag 'custom'%>
<p id="notice"><%= notice %></p>
<head><title>Profile</title></head>
<body>
<div class = user_container>
  <p class="user_photo"><strong>Photo: </strong>  <%=@profile_pages.picture%><br></p>
  <div class = user_box>
    <br><br><br><br>
    <p class ="p_user"><strong>Name:  </strong> <%=@profile_pages.name%><br></p>

    <p class ="p_user"><strong>Last Name:  </strong> <%=@profile_pages.lastName%><br></p>

    <p class ="p_user"><strong>Mail: </strong>  <%=@profile_pages.user.email%><br></p>

    <p class ="p_user"><strong>Administrator: </strong> <%=@profile_pages.user.adm%></p>

    <p class ="p_user"><strong>Organization: </strong> <%=@profile_pages.user.organization.name%> </p>
  </div>
</div>
</body>
