<p id="notice"><%= notice %></p>
<head>
  <title>Profile</title>
</head>

<body>
  <div class = "row">
    <div class ="col-3 bg-dark"></div>
    <div class ="col-6">
      <p class="user_photo">
        <%if @profile_page.user_pic.attached? %>
          <%= link_to image_tag(@profile_page.user_pic, width: "100%", height: "100%"), url_for(@profile_page)%>
        <%else %>
          <%=link_to image_tag("thumbnail.svg", width: "100%", height: "100%", background: "#55595c", color: "#eceeef"), url_for(@profile_page) %>
        <%end %>
      </p>
    </div>
    <div class ="col-3 bg-dark"></div>
  </div>
  <div class="row">
    <div class ="col-3 bg-dark"></div>
    <div class="col-3">
      <p class ="p_user">
        <strong>Name:  </strong> <%=@profile_page.name%>
      </p>
      <p class ="p_user">
        <strong>Biography:  </strong> <%=@profile_page.bio%>
      </p>
      <p class ="p_user">
        <strong>Last Name:  </strong> <%=@profile_page.lastName%>
      </p>
      <p class ="p_user">
        <strong>Mail: </strong>  <%=@profile_page.user.email%>
      </p>
      <p class ="p_user">
        <strong>Address: </strong>  <%=@profile_page.address%>
      </p>
      <p class ="p_user">
        <strong>Administrator: </strong> <%=@profile_page.user.adm%>
      </p>

      <% if @profile_page.user.adm==true %>
        <p class ="p_user"><strong>My Organization: </strong> <%=link_to @profile_page.user.organization.org_homepage.name, org_homepage_path((@profile_page.user.organization.id).to_i-1)%> </p>
      <%else %>
      <%end %>
    </div>
    <div class="col-3">
      <h3>Your Events</h3>
      <%for e in @user_events %>
        <ul>
          <li>
            <%=link_to e.title, event_path(e.id) %><br>
          </li>
        </ul>
      <%end %>
      <br>
      <h3>Assisting to</h3>
      <% @assis=[]%>
      <%for a in @assisting_events %>
        <ul>
            <%if @assis.include? a.event.title %>
            <%else %>
            <li><%=link_to a.event.title, event_path(a.id) %></li>
              <%@assis<<a.event.title %>
            <%end %>
        </ul>
      <%end %>
    </div>
    <div class ="col-3 bg-dark"></div>
  </div>
  <div class= row>
    <div class ="col-3 bg-dark"></div>
    <div class ="col-6">
      <div align="left">
        <h3>Pending Invites</h3>

            <%for pi in @pi %>
            <ul>
              <li ><%=Event.find(pi.event_id).title %>&nbsp
              <button class="btn btn-sm"><%= link_to 'Accept', new_event_event_m_path(pi.event_id)  %></button></li>
            <%end %>
            </ul>

      </div>
    <div class ="col-3 bg-dark"></div>
  </div>
  </div>
</body>

<footer>
  <div align="right">
    <button class="btn btn-light"><%= link_to 'Edit', edit_profile_page_path(params[:id])  %></button>
  </div>
</footer>

