<%=stylesheet_link_tag 'custom'%>
<p id="notice"><%= notice %></p>
<head>
  <title>Profile</title>
</head>

<body>
  <div class = user_container>
    <p class="user_photo"><strong>Photo: </strong>  <%=@profile_page.picture%><br></p>
    <div class = user_box >
      <br><br><br><br>
      <p class ="p_user"><strong>Name:  </strong> <%=@profile_page.name%><br></p>

      <p class ="p_user"><strong>Biography:  </strong> <%=@profile_page.bio%><br></p>

      <p class ="p_user"><strong>Last Name:  </strong> <%=@profile_page.lastName%><br></p>

      <p class ="p_user"><strong>Mail: </strong>  <%=@profile_page.user.email%><br></p>

      <p class ="p_user"><strong>Administrator: </strong> <%=@profile_page.user.adm%></p>

      <p class ="p_user"><strong>My Organization: </strong> <%=link_to @profile_page.user.organization.name, org_homepage_path((@profile_page.user.organization.id).to_i-1)%> </p>
    </div>
  </div>
</body>

<footer>
  <button class="btn btn-outline-primary"><%= link_to 'Edit', edit_profile_page_path(params[:id])  %></button>
</footer>