<div class="row ml-0">
  <%= form_with model: event, local: true do |form| %>
    <div class="form-group">
      <%= form.label :event_pic %>
      <%= form.file_field :event_pic, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :Name %>
      <%= form.text_field :e_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :Description %>
      <%= form.text_area :e_description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :venue_id %>
      <%= form.collection_select(:venue_id, Venue.all.order(v_name: :asc), :id, :v_name, {}, { class: "form-control" }) %>
    </div>

    <div class="form-group">
      <%= form.label :Public %>
      <%= form.check_box :visibility %>
    </div>

    <div class="form-group">
      <%= form.label :photos, "Upload Event Photo" %>
      <%= form.file_field :photos, multiple: true, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :files, "Upload Event Files" %>
      <%= form.file_field :files, multiple: true, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :videos, "Upload Event Videos" %>
      <%= form.file_field :videos, multiple: true, class: "form-control" %>
    </div>

    <div class="form-group mt-2">
      <%= form.submit :Update, class: ["btn", "btn-primary"] %>
      <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
    </div>

  <%end%>
</div>