
<head>
<%if current_user.admin==true%>
    <h1 class="text-light">All Events</h1>
<%else %>
    <h1 class="text-light">Public Events</h1>
<%end %>
</head>


<%if current_user.admin == true %>
  <body>
    <div class="nav justify-content-lg-center">
      <%=form_tag events_path, :method => "get" do %>
        <%=text_field_tag :search, params[:search] %>
        <%= submit_tag("Search", :name => nil ) %>
      <%end %>
    </div>
    <div class ="row m-lg-5 col-lg-11">
      <table class = "table bg-light">
        <thead>
        <tr>
          <th>Event Name</th>
          <th>Event Description</th>
          <th>Event Host</th>
          <th>Link</th>
          <th>Delete</th>
        </tr>
        </thead>
        <% @events.each do |event| %>
          <%if event.user_id == nil %>
            <%Organization.all.each do |w| %>
              <% if event.organization_id == w.id   %>
                <tbody>
                <tr>
                  <td><%=event.e_name %>
                  <td><%=event.e_description %></td>
                  <td><%=w.o_name%></td>
                  <td><%=link_to 'Go to Event', event_path(event.id), class:["btn","btn-secondary"]%></td>
                  <td><%= button_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%></td>
                </tr>
                </tbody>
              <%end %>
            <%end %>
          <%else %>
            <%User.all.each do |w| %>
              <% if event.user_id == w.id   %>
                <tbody>
                <tr>
                  <td><%=event.e_name %>
                  <td><%=event.e_description %></td>
                  <td><%=w.userName%></td>
                  <td><%=link_to 'Go to Event', event_path(event.id), class:["btn","btn-secondary"]%></td>
                  <td><%= button_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%></td>
                </tr>
              <%end %>
            <% end %>
          <%end %>
        <% end %>
        <tfoot>
        </tfoot>
      </table>
    </div>
  </body>
<%else%>
  <body>
    <div class="nav justify-content-lg-center">
      <%=form_tag events_path, :method => "get" do %>
        <%=text_field_tag :search, params[:search] %>
        <%= submit_tag("Search", :name => nil ) %>
      <%end %>
    </div>
    <div class ="row m-lg-5 col-lg-11">
      <table class = "table bg-light">
        <thead>
          <tr>
            <th>Event Name</th>
            <th>Event Description</th>
            <th>Event Host</th>
            <td><strong>Status</strong></td>
            <th>Link</th>
          </tr>
        </thead>
        <% @events.each do |event| %>
          <%if event.user_id == nil %>
            <%Organization.all.each do |w| %>
              <% if event.organization_id == w.id   %>
                <tbody>
                <tr>
                  <td><%=event.e_name %></td>
                  <td><%=event.e_description %></td>
                  <td><%=w.o_name%></td>
                  <%if event.report_status > 10 %>
                    <td>Blocked due to Reports</td>
                  <%else %>
                  <td>Avalible</td>
                  <%end %>
                  <td><%=link_to 'Go to Event', event_path(event.id), class:["btn","btn-secondary"]%></td>
                </tr>
                </tbody>
              <%end %>
            <%end %>
          <%else %>
            <%User.all.each do |w| %>
              <% if event.user_id == w.id   %>
                  <tbody>
                  <tr>
                    <td><%=event.e_name %>
                    <td><%=event.e_description %></td>
                    <td><%=w.userName%></td>
                    <%if event.report_status > 10 %>
                    <td>Blocked due to Reports</td>
                    <%else %>
                    <td>Avalible</td>
                    <%end %>
                    <td><%=link_to 'Go to Event', event_path(event.id), class:["btn","btn-secondary"]%></td>
                  </tr>
              <%end %>
            <% end %>
          <%end %>
        <% end %>
        <tfoot>
        </tfoot>
      </table>
    </div>
  </body>
<%end%>

<footer>
  <div class="float-lg-right">
    <%= link_to 'Create new Event', new_event_path, class:["btn","btn-light"] %>
    <%= link_to "Back", root_path, class:["btn","btn-light"] %>
  </div>
</footer>
