<%=stylesheet_link_tag 'custom'%>
<p id="notice"><%= notice %></p>
<head>
  <h1 id="head1">Events</h1>
</head>


<body>
  <div class="nav justify-content-lg-center">
    <%=form_tag events_path, :method => "get" do %>
      <%=text_field_tag :search, params[:search] %>
      <%= submit_tag("Search", :name => nil ) %>
    <%end %>
  </div>
  <div class ="row m-lg-5 col-lg-11 border">
    <table class = "table">
      <thead>
      <tr>
        <th>Event Name</th>
        <th>Event Description</th>
        <th>Event Host</th>
        <th>Link</th>
      </tr>
      </thead>
      <% @events.each do |event| %>
        <%if event.user.userName == "Null" %>
          <%Organization.all.each do |w| %>
            <% if event.organization_id == w.id   %>
              <%@real_org_id = w.id - 1%>
              <tbody>
              <tr>
                <td><%=event.title %>
                <td><%=event.description %></td>
                <td><%=w.org_homepage.name%></td>
                <td><button><%=link_to 'Go to Event', event_path(event.id)%></button></td>
              </tr>
              </tbody>
            <%end %>
          <%end %>
        <%else %>
          <tbody>
          <tr>
            <td><%=event.title %>
            <td><%=event.description %></td>
            <td><%=event.user.userName%></td>
            <td><button><%=link_to 'Go to Event', event_path(event.id)%></button></td>
          </tr>
        <%end %>
      <% end %>
      <tfoot>
      </tfoot>
    </table>
  </div>
</body>

<button class="btn"><%= link_to 'Back', root_path %></button>

<footer>
</footer>
