<%=stylesheet_link_tag 'custom'%>
<p id="notice"><%= notice %></p>

<head>
  <title>Events</title>
</head>
<body>

  <p>Name: <%=@event.title%><br></p>
  <p>Host: <%=@event.user.userName%><br></p>
  <p>Description: <%=@event.description%><br></p>

</body>


<footer>

<div>
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %>
</div>
</footer>
