<p id="notice"><%= notice %></p>

<head>
  <title>Events</title>
</head>
<body>
  <div>
    <%@event.each do |v| %>
    <div class="row">
      <div class="col-3 bg-dark"></div>
      <div class="col-6">
        <%if v.event_pic.attached? %>
          <%= link_to image_tag(v.event_pic, width: "800px", height: "400px"), url_for(v)%>
        <%else %>
          <%=link_to image_tag("thumbnail.svg", width: "100%", height: "450px", background: "#55595c", color: "#eceeef"), url_for(v) %>
        <%end %>
        <div class = user_box >

          <p class ="p_user"><strong>Name:  </strong> <%=v.e_name%><br></p>
          <%if v.user_id == nil %>
            <%@event_o.each do |x|%>
              <%if x.id == v.organization_id %>
                  <p class ="p_user"><strong>Host:  </strong> <%=x.o_name%><br></p>
              <%end %>
            <%end %>
          <%else %>
            <%@event_users.each do |y|%>
              <%if y.id == v.user_id %>
                <p class ="p_user"><strong>Host:  </strong> <%=y.userName%><br></p>
              <%end %>
            <%end %>
          <%end %>
          <p class ="p_user"><strong>Venue:  </strong> <%=@event_v.find(v.venue_id).v_name%></p>
          <p class ="p_user"><strong>Description:  </strong>  <%=v.e_description%><br></p>
          <p class ="p_user"><strong>Creation Date:  </strong> <%=v.created_at%></p>
          <p class ="p_user"><strong>Public:  </strong> <%=v.visibility%></p>
        </div>

        <%if $cureent_event.start_vote==1 %>
          <%for m in EventM.where(event_id:$cureent_event.id) %>
            <%if m.user_id == current_user.id #or $cureent_event.user_id==current_user.id %>
          <table><h2>Choose your available dates!:</h2>
                  <%for vo in @votes %>
                    <tr>
                      <td>
                        <%=vo.date%>
                       (<%=vo.n_votes %>)
                      </td>
                    </tr>
                  <%end %>
            <%= link_to "Go Vote" , vote_path(params[:id]) %>            </table><br>
            <%end %>
          <%end %>
        <%end %>

        <%if current_user.id==$cureent_event.user_id%>
          <%if $cureent_event.start_vote==0 %>
            <%= button_to 'Start Vote', events_start_vote_path, start_vote: :post %>
          <%elsif $cureent_event.start_vote==1%>
            <%= button_to 'End Vote', events_end_vote_path, end_vote: :post %>
          <%end%>
        <%end%>
        <br>

            <div>
          <h2>Event Members : </h2>
          <%@event_members.each do |em|%>
            <%if em.event_id == v.id%>
              <ul>
                <%if @mem.include? @event_users.find(em.user_id).name%>
                  <%flash[:alert]= 'Ya fue Agregado al Evento'%>
                <%else %>
                  <%=@event_users.find(em.user_id).name %>
                  <%@mem<<@event_users.find(em.user_id).name %>
                <%end%>
              </ul>
            <%end%>
          <%end%>

          <h2>Event photos uploaded:</h2>
          <div align="left">
            <% if v.photos.attached?  %>
              <% v.photos.each do |photos| %>
                <%= image_tag(photos, width: "200px")%>
              <% end %>
            <%else %>
            <%end %>
          </div>

          <h2>Event files uploaded:</h2>
          <div align="left">
            <% if v.files.attached?  %>
              <% v.files.each do |file| %>
                <%= link_to file.filename, url_for(file) %><br>
              <% end %>
            <%else %>
            <%end %>
          </div>

          <h2>Event videos uploaded:</h2>
          <div align="left">
            <% if v.videos.attached?  %>
              <% v.videos.each do |video| %>
                <%= video_tag(rails_blob_path(video),:size => "320x240", :controls => true) %>
            <%end %>
          <%end %>
          </div>

        </div >
          <%if @mem.include? @event_users.find(current_user.id).name%>
            <div align="right">
                <span><%=link_to 'Comments', comment_path(v.id), class: "btn btn-light"%></span>
                <%if current_user.id == v.user_id %>
                  <span class="text-dark" >Can't exit </span>
                <%else%>
                  <%=link_to 'Exit event', edit_event_event_m_path(v.id), class: "btn btn-light"%>
                  <%@mem.delete(@event_users.find(current_user.id).name) %>
                <%end%>
            </div>
          <%else%>
            <div align="right">
              <%=link_to 'Comments', comment_path(v.id), class: ["btn", "btn-light"]%>
              <%=link_to 'Join event', new_event_event_m_path(v.id), class: ["btn", "btn-light"]%>
            </div>
          <%end%>

      </div>
      <div class="col-3 bg-dark"></div>
    </div>
    <%end%>

    <%@event.each do |v| %>
    <%if v.user_id == current_user.id %>
    <div class="row">
      <div class="col-3 bg-dark"></div>
      <div class="col-6">
          <div align="left" >
            <%=link_to 'Invite Users', event_invites_path(v.id), class: ["btn", "btn-light"]%>
          </div>
        </div>
      <div class="col-3 bg-dark"></div>
    </div>
    <%end%>
    <%end%>
  </div>

</body>


<footer>
  <div class="row">
    <div class="col-9"></div>
    <div class="col-3">
      <div align="left">
        <button class="btn"><%= link_to 'Back', events_path %></button>
        <% if current_user.id == @event[0].user_id || current_user.admin==true%>
          <button class="btn"><%= link_to 'Edit', edit_event_path(@event.ids) %></button>
          <%= link_to 'Delete', @organization, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", remote: false %>
        <%end %>
      </div>
  </div>
  </div>
</footer>
