<p id="notice"><%= notice %></p>

Event Name: <%=@event.title%><br>
User Admin: <%=@event.user.userName%><br>
Description: <%=@event.description%><br>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
