<p id="notice"><%= notice %></p>

<head>
  <title>Events</title>
</head>
<body>
  <div>
    <%@event.each do |v| %>
    <div class="row">
      <div class="col-3 bg-dark"></div>
      <div class="col-6">
        <%if v.event_pic.attached? %>
          <%= link_to image_tag(v.event_pic, width: "800px", height: "400px"), url_for(v)%>
        <%else %>
          <%=link_to image_tag("thumbnail.svg", width: "100%", height: "450px", background: "#55595c", color: "#eceeef"), url_for(v) %>
        <%end %>
        <div class = user_box >
          <p class ="p_user"><strong>Name:  </strong> <%=v.title%><br></p>
          <%if v.user.userName == "Null" %>
            <%@event_o.each do |x|%>
              <%if x.id == v.organization_id %>
                  <p class ="p_user"><strong>Host:  </strong> <%=x.org_homepage.name%><br></p>
              <%end %>
            <%end %>
          <%else %>
              <p class ="p_user"><strong>Host:  </strong> <%=v.user.userName%><br></p>
          <%end %>
          <p class ="p_user"><strong>Venue:  </strong> <%=@event_v.find(v.venue_id).name%></p>
          <p class ="p_user"><strong>Description:  </strong>  <%=v.description%><br></p>
          <p class ="p_user"><strong>Public:  </strong> <%=v.visibility%></p>
        </div>
        <div>
          <h2>Event Members : </h2>
          <%@event_members.each do |em|%>
            <%if em.event_id == v.id%>
              <ul>
                <il><%=@event_users.find(em.user_id-1).name %></il>
              </ul>
            <%end%>
          <%end%>
        </div>
        <div align="right">
          <button class="btn btn-light"><%=link_to 'Comments', comment_path(v.id)%></button>
          <button class="btn btn-light"><%=link_to 'Join event', new_event_m_path(v.id)%></button>
        </div>
      </div>
      <div class="col-3 bg-dark"></div>
    </div>
    <%end%>
  </div>
</body>


<footer>
  <div class="row-2">
    <div class="float-lg-right">
      <% if $current_user[0].id == @event[0].user_id %>
        <button class="btn"><%= link_to 'Edit', edit_event_path(@event.ids) %></button>
        <button class="btn"><%= link_to 'Back', events_path %></button>
      <%else%>
        <button class="btn"><%= link_to 'Back', events_path %></button>
      <%end%>
    </div>
  </div>
</footer>
