<%=stylesheet_link_tag 'custom'%>
<p id="notice"><%= notice %></p>

<head>
  <title>Events</title>
</head>
<body>
<%@event.each do |v| %>
  <p>Name: <%=v.title%><br></p>
  <%if v.user.userName == "Null" %>
    <%@event_o.each do |x|%>
      <%if x.id == v.organization_id %>
        <p>Host: <%=x.org_homepage.name%><br></p>
      <%end %>
    <%end %>
  <%else %>
    <p>Host: <%=v.user.userName%><br></p>
  <%end %>
  <p>Description: <%=v.description%><br></p>
  <p><button class="btn"><%=link_to 'Comments', comment_path(v.id)%></button><br></p>
  <p><button class="btn"><%=link_to 'Join event', new_event_m_path(v.id)%></button><br></p>
<%end %>


</body>


<footer>
  <div>
    <button class="btn"><%= link_to 'Edit', edit_event_path(@event.ids) %></button>
    <button class="btn"><%= link_to 'Back', events_path %></button>
  </div>
</footer>
