<%=stylesheet_link_tag 'custom'%>
<!DOCTYPE html>
<html>

<head>  <div>
  <button class="btn btn-light" style="float:right">
    <%=link_to "Profile", profile_page_path(1)%>
  </button>
</div></head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">

  <a class="navbar-brand"><h1><%= link_to "Bacile con los K" , root_path %></h1></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>

<nav class = "navigation" >

  <button class="btn" style="float:right" ><%=link_to "Event", :events%></button>
  <button class="btn" style="float:right" ><%=link_to "People", :users%></button>
  <button class="btn" style="float:right" ><%=link_to "Organization", organizations_path%></button>
  <button class="btn" style="float:right" ><%=link_to "Inbox", inbox_path(1)%></button>

</nav>


  <body>
    <%= yield %>
  </body>
</html>
