<!DOCTYPE html>
<html>

<header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand"><h3><%= link_to "Bacile con los K" , root_path %></h3></a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item ">
        <a class="btn" ><%=link_to "Events", :events%></a>
      </li>

      <li class="nav-item">
        <a class="btn"  ><%=link_to "People", :users%></a>
      </li>

      <li class="nav-item">
        <a class="btn" ><%=link_to "Organizations", organizations_path%></a>
      </li>
      <%if current_user %>
        <li class="nav-item">
          <a class="btn" ><%=link_to "Inbox", inbox_path(current_user.id)%></a>
        </li>
      <%end%>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <%if current_user %>
        <a class="btn mr-sm-2"><%=link_to "Profile", user_path(current_user.id)%></a>
      <%end %>
      <span class="d-inline ml-3">
        <%if current_user %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <%else %>
          <%= link_to "Sign Up", new_user_registration_path %>
          <%= link_to "Sign In", new_user_session_path, method: :delete %>
        <%end %>
      </span>
    </form>
  </div>
</nav>


  <body class="bg-secondary">
  <% flash.each do |name, msg| %>
    <%if name.class=="alert" %>
      <%= content_tag :div, msg, class: "alert" %>
    <%else%>
      <%= content_tag :div, msg, class: "notice" %>
    <%end%>
  <% end %>
    <%= yield %>
  </body>
</html>


