<!DOCTYPE html>
<html>
<h1><%= link_to "BACILE CON LOS K", root_path %></h1>
<nav>
    <%=link_to "Event", :events%>
    <%=link_to "Profile", :profile_pages%>
    <%=link_to "Organization", :org_homepages%>
    <%=link_to "Inbox", :inboxs %>

</nav>
  <body>
    <%= yield %>
  </body>
</html>
