<p id="notice"><%= notice %></p>

<h2>Comments</h2>

<h3><%=@comment.event.title %></h3>

<%for v in @comments do %>
  <%if (v.event.id = @x.ids) %>
    <tr>
      <td> <%=v.user.userName%>: <%=v.text%><br></td>
      <td>Attachment: <%=v.attachments.name %><br></td>
    </tr>
    <%end %>
<%end %>

<%= link_to 'Edit', edit_comment_path(@comment) %> /
<%= link_to 'Destroy', comment_path, method: :delete, data: { confirm: 'Are you sure?' } %>  /
<%= link_to 'Back', events_path %>
