<p id="notice"><%= notice %></p>


<body>
  <h2>Comments</h2>
  <div class = "wrapper">
    <div class ="box">
      <h3 class="text-left"><%=@comment.event.title %></h3>
      <p><%for v in @comments do %>
          <p class ="text-left"> <%=v.user.userName%>: <%=v.text%>
            <%for x in @comment_a do %>
              <%if x.comment_id==v.id %>
                <%if x.attachment != nil  %>
                  <p class = "text-left"><%=v.user.userName%>: <%=x.attachment %><br></p>
                <%end %>
              <%end %>
            <%end %>
          </p>
        <%end %>
      </p>
    </div>
  </div>
</body>
<footer>
  <br><%link_to 'Edit', edit_comment_path(@comment) %>
  <% link_to 'Destroy', comment_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Back', events_path %>
</footer>