<p id="notice"><%= notice %></p>

<h2>Comments</h2>

<h3><%=@comment.event.title %></h3>

<br><%for v in @comments do %>
<tr>
  <td> <%=v.user.userName%>: <%=v.text%><br></td>
  <%for x in @comment_a do %>
    <%if (x.comment_id==v.id) %>
      <%if (x.attachment != nil ) %>
        <td> Attachment: <%=x.attachment %><br></td>
      <%end %>
    <%end %>
  <%end %>
</tr>
<%end %>

<br><%= link_to 'Edit', edit_comment_path(@comment) %> /
<%= link_to 'Destroy', comment_path, method: :delete, data: { confirm: 'Are you sure?' } %>  /
<%= link_to 'Back', events_path %>