<p id="notice"><%= notice %></p>

<body>
  <div class = row>
      <div class="col-3 bg-dark"></div>
      <div class="col-6">
        <div class="user_photo">
          <%if @org_homepage.flyer.attached? %>
            <%= link_to image_tag(@org_homepage.flyer, width: "100%", height: "450px"), url_for(@org_homepage)%>
          <%else %>
            <%=link_to image_tag("thumbnail.svg",width: "100%", height: "450px", background: "#55595c", color: "#eceeef"), url_for(@org_homepage) %>
          <%end %>
        </div>
        <div class = "user_box">
          <p class = "p_user">
            <strong><%=@org_homepage.organization.name%></strong>
          </p>
          <p class = "p_user">
            <strong>Description: </strong><%=@org_homepage.description%>
          </p>
          <p class = "p_user">
            <strong>Host:</strong> <%=@org_homepage.organization.user.userName%>
          </p>
        </div>
        <div>
          <h2>Organization Members : </h2>
          <%@org_members.each do |om|%>
              <ul>
                <li><%=om.userName%></li>
              </ul>
          <%end%>
          <h2>Public Events: </h2>
          <%for oe in @o_events %>
            <%if oe.visibility == true %>
              <ul>
                <li><%=link_to oe.title, edit_event_path(oe.id) %></li>
              </ul>
            <%end %>
          <%end %>
        </div>
      </div>
    <div class="col-3 bg-dark"></div>
  </div>
</body>

<footer>
    <div align="center">
      <button class="btn btn-light"><%= link_to 'Edit', edit_org_homepage_path(params[:id])  %></button>
      <button class="btn btn-light"><%= link_to 'Back', profile_page_path($current_user[0].id-1)  %></button>
    </div>
</footer>