<p id="notice"><%= notice %></p>

Name: <%=@org_homepage.name%><br>
Photo : <%=@org_homepage.banner%><br>
Description: <%=@org_homepage.description%><br>
Host: <%=@org_homepage.organization.user.userName%><br>

<%= link_to 'Edit', edit_org_homepage_path(@org_homepage) %> |
<%= link_to 'Back', organizations_path %>
