<%=stylesheet_link_tag 'custom'%>
<p id="notice"><%= notice %></p>

<body>
  <div class = user_container>
    <p class="user_photo"><strong><%=@org_homepage.banner%></strong><br></p>
    <div class = "user_box">
      <br><br><br><br>
      <p class = "p_user"><strong><%=@org_homepage.name%></strong><br></p>

      <p class = "p_user"><strong>Description: </strong><%=@org_homepage.description%><br></p>

      <p class = "p_user"><strong>Host:</strong> <%=@org_homepage.organization.user.userName%><br></p>
    </div>
  </div>
</body>

<footer>
  <button class="btn btn-outline-light"><%= link_to 'Edit', edit_org_homepage_path(params[:id])  %></button>
  <button class="btn btn-outline-light"><%= link_to 'Back', root_path  %></button>
</footer>