<%=stylesheet_link_tag 'custom'%>
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Welcome to Project 3!</title>
    <link rel="stylesheet" type = "text/css" href="custom.css">
</head>

<body>
<% @p_events.each do|v| %>
  <div class = "wrapper">
    <div class="ad_wrapper">
      <div class = "ad_box_1 justify-content-center">
        <%=link_to image_tag("ad.png", width: "300px", height: "600", background: "#55595c", color: "#eceeef"), url_for(root_path) %>
      </div>
    </div>

    <div class ="box">
      <h3 class = "eventshome"><%=link_to v.title, event_path(v.id)%></h3>

      <%if v.event_pic.attached? %>
        <%= link_to image_tag(v.event_pic, width: "400px"), url_for(v)%>
      <%else %>
        <%=link_to image_tag("thumbnail.svg", width: "400px", background: "#55595c", color: "#eceeef"), url_for(v) %>
      <%end %>
      <%if v.user.userName == "Null" %>
        <%@p_organizations.each do |w| %>
          <% if v.organization_id == w.id   %>
            <%@real_org_id = w.id - 1%>
            <p>Host : <%=link_to w.org_homepage.name, org_homepage_path(@real_org_id)%></p>
          <%end %>
        <%end %>
      <%else %>
        <p>Host : <%=link_to v.user.userName, profile_page_path(v.id)%></p>
      <%end %>

      <p>Description : <%=[v.description]%></p>

      <h4 class="com_home">Comments:</h4>
      <% @p_comments.limit(5).each do |x|  %>
      <% if v.id == x.event_id   %>
        <tr>
          <td><p class="comment"><%= x.user.userName %>: <%= x.text %></p></td>
            </tr>
        <% end %>
      <% end %>
    </div>

    <div class="ad_wrapper_2">
      <div class = "ad_box_2 justify-content-center">
        <%=link_to image_tag("ad2.jpg", width: "300px", height: "600", background: "#55595c", color: "#eceeef"), url_for(root_path) %>
      </div>
    </div>
  </div>
<% end %>



</body>
</html>