<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Lab Assignment 6!</title>
</head>
<body>

<% @p_events.each do|v| %>
  <div>
    <li><h3><%=link_to v.title, event_path(v.id)%></h3></li>

    <%if (v.user.userName == "Null") %>
      <%@p_organizations.each do |w| %>
        <% if (v.organization_id == w.id )  %>
          <li><p>Host : <%=[w.name]%></p></li>
        <%end %>
      <%end %>
    <%else %>
      <li><p>Host : <%=[v.user.userName]%></p></li>
    <%end %>

    <li><p>Description : <%=[v.description]%></p></li>

    <h4>Comments:</h4>

    <% @p_comments.each do |x|  %>
    <% if (v.id == x.event_id )  %>
      <tr>
        <td> <%= x.user.userName %>: <%= x.text %></td><br>
          </tr>
      <% end %>
    <% end %>

  </div>

<% end %>

</body>
</html>