<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome to Project 3!</title>
</head>

<body>
  <% @p_events.each do|v| %>
    <div>
      <div class="row">
        <div class="col-2">
          <%=link_to image_tag("ad.png", width: "300px", height: "600px", background: "#55595c", color: "#eceeef"), url_for(root_path) %>
        </div>
        <div class="col-1"></div>
        <div class="col-lg-7">
          <div>
            <h3><%=link_to v.title, event_path(v.id), style: "text-light"%></h3>
            <%if v.user.userName == "Null" %>
              <%@p_organizations.each do |w| %>
                <% if v.organization_id == w.id   %>
                  <p>Host : <%=link_to w.name, organization_path(w.id)%></p>
                <%end %>
              <%end %>
            <%else %>
              <p>Host : <%=link_to v.user.userName, profile_page_path(v.id)%></p>
            <%end %>
            <div>
              <%if v.event_pic.attached? %>
                <%= link_to image_tag(v.event_pic, width: "800px", height: "400px"), url_for(v)%>
              <%else %>
                <%=link_to image_tag("thumbnail.svg", width: "800px", height: "400px", background: "#55595c", color: "#eceeef"), url_for(v) %>
              <%end %>
            </div>
            <p>Description : <%=v.description%></p>

            <h4><%=link_to 'Comments :', comment_path(v.id)%></h4>
            <% @p_comments.each do |x|  %>
              <% if v.id == x.event_id   %>
                <table>
                  <tr>
                    <td><p class="comment"><%= x.user.userName %>: <%= x.text %></p></td>
                  </tr>
                </table>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="col-2">
          <%=link_to image_tag("ad2.jpg", width: "300px", height: "600", background: "#55595c", color: "#eceeef"), url_for(root_path) %>
        </div>

      </div>
    </div>
  <% end %>
</body>
</html>