<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Lab Assignment 6!</title>
</head>
<body>

<% @p_events.each do|v| %>
  <div>
    <li><h4><%=link_to v.title, event_path(v.id)%></h4></li>
    <li><p>Host : <%=[v.user.userName]%></p></li>
    <li><p>Description : <%=[v.description]%></p></li>
    <% @comments.each { |x|  %>
    <% if (v.id = x.event.id )  %>
      <tr>
        <td> <%= x.user.userName %>: <%= x.text %></td><br>
          </tr>
          <% end %>
    <% } %>

  </div>

<% end %>

</body>
</html>