<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome to Project 3!</title>
</head>

<body>
  <% @p_events.each do|v,y| %>
    <%y=0 %>
    <div>
      <div class="row">
        <div class="col-2">
          <%=link_to image_tag("ad.png", width: "300px", height: "600px", background: "#55595c", color: "#eceeef"), url_for(root_path) %>
        </div>
        <div class="col-1"></div>
        <div class="col-lg-6 bg-light" >
          <div>
            <%if v.report_status <= 10 %>
          <h3><%=link_to v.e_name, event_path(v.id), style: "text-light"%></h3>
            <%if v.user_id == nil %>
              <%@p_organizations.each do |w| %>
                <% if v.organization_id == w.id   %>
                  <p>Host : <%=link_to w.o_name, organization_path(w.id)%></p>
                <%end %>
              <%end %>
            <%else %>
              <%@p_users.each do |w| %>
                <% if v.user_id == w.id   %>
                  <p>Host : <%=link_to w.name, user_path(v.id)%></p>
                <%end %>
              <%end %>
            <%end %>
            <div align="center">
              <%if v.event_pic.attached? %>
                <%= link_to image_tag(v.event_pic, width: "900px", height: "450px"), url_for(v)%>
              <%else %>
                <%=link_to image_tag("thumbnail.svg", width: "900px", height: "450px", background: "#55595c", color: "#eceeef"), url_for(v) %>
              <%end %>
            </div>
            <p>Description : <%=v.e_description%></p>

            <h4>Comments: </h4>
            <% @p_comments.each do |x|  %>
              <%if y < 5 %>
                <% if v.id == x.event_id   %>
                  <table>
                    <tr>
                      <td><p class="comment"><%= x.user.userName %>: <%= x.text %></p></td>
                    </tr>
                  </table>
                  <%y+=1 %>
                <% end %>
              <%else %>
              <%break %>
              <%end%>
            <% end %>
            <%else %>
              <h3 align="left"><%=$cureent_event.e_name %></h3>
              <p align="left">This event has been blocked due to clashes with our terms of services and uses</p>
            <% end %>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-2">
          <%=link_to image_tag("ad2.jpg", width: "300px", height: "600", background: "#55595c", color: "#eceeef"), url_for(root_path) %>
        </div>

      </div>
    </div>
<% end %>
</body>
</html>