<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |v| %>
      <ul>

        <il><p>Name: <%=v.name%></p></il>
        <il><p>Adm: <%=v.user.userName%></p></il>

        <il><%=link_to 'link to Homepage', org_homepage_path(v.org_homepage.id)%></il>

      </ul>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
