<%=stylesheet_link_tag 'custom'%>
<p id="notice"><%= notice %></p>

<body>
<h1>Organizations</h1>

<%=form_tag organizations_path, :method => "get" do %>
      <%=text_field_tag :search, params[:search] %>
      <%= submit_tag("Search", :name => nil ) %>
<%end %>

  <p class = "p-2 border">
    <%if @organization == 0 %>
      <p> No se encuentras resultados de búsqueda </p>
    <%else %>
      <% for v in @organizations %>
        <li>
          <a><strong><%=v.name%></strong></a> <a><button><%=link_to 'Go to Homepage', org_homepage_path(v.org_homepage.id)%></button></a><br><br>
        </li>
      <% end %>
    <% end %>

</p>

</body>
<br>
<footer>
  <% link_to 'New Organization', new_organization_path %>
  <% link_to 'Edit Organization', @organization %>
</footer>
