<div class="row ml-0">

  <%= form_with model: @organization, local: true do |form| %>
    <div class="form-group">
      <%= form.label "Organization Name:" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div>
      <%=form.hidden_field :user_id %>
    </div>

    <%=form.fields_for @org_home do |oh_form| %>
      <div class="form-group">
        <%= oh_form.label "Page Name" %>
        <%= oh_form.text_field :name, class: "form-control" %>
        <%= oh_form.label :description %>
        <%= oh_form.text_field :description, class: "form-control" %>
        <div class="form-group">
          <%= oh_form.label :flyer %>
          <%= oh_form.file_field :flyer, class: "form-control" %>
        </div>
        <div>
          <%=oh_form.hidden_field :organization_id %>
        </div>
        <hr>
      </div>
    <% end %>

    <div class="form-group mt-2">
        <%= form.submit :Create, class: ["btn", "btn-primary"] %>
        <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
      </div>
    </div>
  <%end %>
</div>