<p id="notice"><%= notice %></p>
<head>
<h1 class ="text-light">Users</h1>
</head>
<body class="bg-dark">
  <div class="nav justify-content-lg-center">
    <%=form_tag users_path, :method => "get" do %>
      <%=text_field_tag :search, params[:search] %>
      <%= submit_tag("Search", :name => nil ) %>
    <%end %>
  </div>
  <div class ="row m-lg-5 col-lg-11">
    <%if current_user.admin == true %>
      <table class = "table bg-light">
        <thead>
        <tr>
          <th>Name</th>
          <th>username</th>
          <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <% for v in @users %>
          <tr>
            <%if v.userName != "Null"%>
              <%if v.userName!= current_user.userName%>
                <td><strong><%=v.name%>&nbsp</strong></td>
                <td><strong><%=v.userName%></strong></td>
                <td>
                  <%= link_to 'Show', user_path(v.id), class:["btn","btn-secondary"]%>
                  <%= link_to 'Info',info_path(v.id), class:["btn","btn-secondary"] %>
                  <%= button_to 'Delete',v, method: :delete, data: { confirm: 'Are you sure?' }, class: ["btn","btn-danger"], :params => {user_id:v.id}, form: {style: 'display:inline-block;'} %>
                </td>
              <%end%>
            <%else %>
            <% end %>
        <% end %>
        </tr>
        </tbody>
      </table>
    <%else %>
      <table class = "table bg-light">
        <thead>
          <tr>
            <th>Name</th>
            <th>username</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
        <% for v in @users %>
          <tr>
            <%if v.userName != "Null" %>
              <%if v.userName!= current_user.userName%>
                <td><strong><%=v.name%>&nbsp<%=v.lastName%></strong></td>
                <td><strong><%=v.userName%></strong></td>
                <td><%= link_to 'Show', user_path((v.id)), class:["btn","btn-secondary"]%></td>
              <%end%>
            <%else %>
            <% end %>
          <% end %>
          </tr>
        </tbody>
      </table>
    <%end%>
  </div>
</body>


<footer>
  <div class="float-lg-right">

  <%= link_to 'Back', root_path, class:["btn","btn-light"] %>
  </div>
</footer>

