<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%=form_tag users_path, :method => "get" do %>
    <%=text_field_tag :search, params[:search] %>
    <%= submit_tag("Search", :name => nil ) %>
  <%end %>

  <p class = "p-2 border">
    <% for v in @users %>
      <%if v.userName != "Null" %>
        <a><strong><%=v.userName%></strong></a> <a><button><%=link_to 'Go to Profile Page', profile_pages_path(v.profilePage)%></button></a><br><br>
      <%else %>
      <% end %>
    <% end %>

    <% @users.each do |user| %>
      <tr>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
