<p id="notice"><%= notice %></p>

<p>Username:   <%=@user.userName%><br></p>

<p>Mail:   <%=@user.email%><br></p>

<p>Administrator:  <%=@user.adm%></p>

<p>Organization: <%=@user.organization.name%>  </p>

