<%=stylesheet_link_tag 'custom'%>
<p id="notice"><%= notice %></p>

<head>
  <title>Profile</title>
</head>

<body>
<div class = user_container>
  <div class="user_photo">
    <%if @user.profilePage.user_pic.attached? %>
      <%= link_to image_tag(@user.profilePage.user_pic, width: "100%", height: "100%"), url_for(@user)%>
    <%else %>
      <%=link_to image_tag("thumbnail.svg", width: "100%", height: "100%", background: "#55595c", color: "#eceeef"), url_for(@user) %>
    <%end %>
  </div>
  <div class = user_box>
    <br><br><br><br>
    <p class ="p_user"><strong>Name:  </strong> <%=@pp.name%><br></p>

    <p class ="p_user"><strong>Last Name:  </strong> <%=@pp.lastName%><br></p>

    <p class ="p_user"><strong>Mail: </strong>  <%=@pp.user.email%><br></p>

    <p class ="p_user"><strong>Administrator: </strong> <%=@pp.user.adm%></p>
    <% if @user.organization.nil? %>
      <p class ="p_user"><strong>Organization: </strong> No Organization </p>
    <%else %>
      <p class ="p_user"><strong>Organization: </strong> <%=@user.organization.org_homepage.name%> </p>
    <%end %>
  </div>
</div>
</body>

<footer>
  <button class="btn"><%= link_to 'Back', users_path %></button>
</footer>
