<p id="notice"><%= notice %></p>

<head>
  <title>Profile</title>
</head>

<%if @user.id == current_user.id || current_user.admin == true%>
  <body>
  <div class = "row">
    <div class ="col-3 bg-dark"></div>
    <div class ="col-6">
      <p class="user_photo">
        <%if @user.user_pic.attached? %>
          <%= link_to image_tag(@user.user_pic, width: "100%", height: "100%"), url_for(@user)%>
        <%else %>
          <%=link_to image_tag("thumbnail.svg", width: "100%", height: "100%", background: "#55595c", color: "#eceeef"), url_for(@user) %>
        <%end %>
      </p>
    </div>
    <div class ="col-3 bg-dark"></div>
  </div>
  <div class="row">
    <div class ="col-3 bg-dark"></div>
    <div class="col-3">
      <p class ="p_user">
        <strong>Name:  </strong> <%=@user.name%>
      </p>
      <p class ="p_user">
        <strong>Last Name:  </strong> <%=@user.lastName%>
      </p>
      <p class ="p_user">
        <strong>Biography:  </strong> <%=@user.bio%>
      </p>
      <p class ="p_user">
        <strong>Mail: </strong>  <%=@user.email%>
      </p>
      <p class ="p_user">
        <strong>Address: </strong>  <%=@user.address%>
      </p>

      <div class ="p_user"><strong>My Organizations: </strong></div><br>
        <%for uo in @user_o %>
          <% if uo.user_id == current_user.id %>
            <p><%=link_to uo.o_name, organization_path(uo.id), class: ["btn", "btn-light"] %></p>
          <%else %>
          <%end %>
        <%end %>

    </div>
    <div class="col-3">
      <h3>Your Events</h3>
      <%for e in @user_events %>

          <a>
            <%=link_to e.e_name, event_path(e.id), class: ["btn", "btn-light"] %><br>
          </a>

      <%end %>
      <br>
      <h3>Assisting to</h3>
      <% @assis=[]%>
      <%for a in @assisting_events %>
          <%if @assis.include? a.event.e_name %>
          <%else %>
            <a><%=link_to a.event.e_name, event_path(a.id), class: ["btn", "btn-light"]  %></a>
            <%@assis<<a.event.e_name %>
          <%end %>

      <%end %>
      <h4>Change Password</h4>
      <%= link_to "Change your password", edit_user_registration_path, class: ["btn", "btn-primary"]  %>
    </div>
    <div class ="col-3 bg-dark"></div>
  </div>
  <div class= row>
    <div class ="col-3 bg-dark"></div>
    <div class ="col-6">
      <span align="left">
        <h3>Pending Invites</h3>

        <%@como_querai = [] %>
        <% for id in EventM.where("user_id = ?", current_user.id ) %>
          <%@como_querai<<id.event_id %>
        <%end %>
        <%for pi in @pi %>
          <%if @como_querai.include? pi.event_id %>
          <%else %>
              <div>
                <%= form_tag({:chats=>"post", :action=>"accept_invite"}, method: :post) do %>
                    <%= hidden_field_tag :event_id, pi.event_id %>
                    <%=Event.find(pi.event_id).e_name %>&nbsp
                    <%= submit_tag :Accept, class: ["btn", "btn-primary"] %>
                <%end %><br>
                </div>
          <%end %>
        <%end %>

        </span>
      </div>
    </div>
    <div class ="col-3 bg-dark"></div>
  </div>
  </body>

  <footer>
    <div class="row">
      <div class="col-9"></div>
      <div class="col-3" >
        <div align="left" >
          <%= link_to 'Edit', edit_user_path(params[:id]), class: ["btn" , "btn-light"] %>
          <%= link_to 'Delete',@user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", remote: false %>
        </div>
      </div>
    </div>
  </footer>
<%else%>
    <body>

    <div class = "row">
      <div class="col-3 bg-dark"></div>
      <div class="col-6">
        <div class="user_photo">
          <%if @user.user_pic.attached? %>
            <%= link_to image_tag(@user.profilePage.user_pic, width: "100%", height: "100%"), url_for(@user)%>
          <%else %>
            <%=link_to image_tag("thumbnail.svg", width: "100%", height: "100%", background: "#55595c", color: "#eceeef"), url_for(@user) %>
          <%end %>
        </div>
        <div class = user_box>

          <p class ="p_user">
            <strong>Name:  </strong> <%=@user.name%>
          </p>
          <p class ="p_user">
            <strong>Last Name:  </strong><%=@user.lastName%>
          </p>
          <p class ="p_user">
            <strong>Mail: </strong>  <%=@user.email%>
          </p>
          <p class ="p_user">
            <strong>Address: </strong>  <%=@user.address%>
          </p>
          <p class ="p_user">
            <strong>Administrator: </strong> <%=@user.admin%>
          </p>

          <% if @user.organization.nil? %>
            <p class ="p_user"><strong>Organization: </strong> No Organization </p>
          <%else %>
            <p class ="p_user"><strong>Organization: </strong> <%=@user.organization.o_name%> </p>
          <%end %>

          <%= form_tag({:users=>"post", :action=>"start_chat"}, method: :post) do %>
            <%= hidden_field_tag :inbox1_id, current_user.id %>
            <%= hidden_field_tag :inbox2_id, params[:id] %>
            <%= submit_tag 'Send Message', name: nil %>
          <% end %>

        </div>
      </div>
      <div class="col-3 bg-dark"></div>
    </div>
  </body>

  <footer>
    <div class="row">
      <div class="col-9"></div>
      <div class="col-3" >
        <div align="left" >
          <button class="btn"><%= link_to 'Back', users_path %></button>
        </div>
      </div>
    </div>
  </footer>
<%end %>