<p id="notice"><%= notice %></p>

<h1>Chats</h1>
<div class = "wrapper">
  <div class ="box">
  <% @chats.each do |chat| %>
    <li>
      <%=chat.user.userName %>
      : <%=chat.text %>
    </li>
<% end %><br>

    <%= form_tag({:chats=>"post", :action=>"send_msg"}, method: :post) do %>
      <%= hidden_field_tag :chat_id, params[:id] %>
      <%= text_field_tag :text %>
      <%= submit_tag 'Send', name: nil %>
    <% end %>

  </div>
</div>

<footer>
</footer>