<p id="notice"><%= notice %></p>

<h1>Chats</h1>
<div class = "wrapper">
  <div class ="box">
  <% @chats.each do |chat| %>
    <li>
      <%=chat.user.userName %>
      : <%=chat.text %>
    </li>
<% end %><br>

    <%=form_with model: @message, local: true do |f| %>
      <%=f.hidden_field :user_id, :value => current_user.id %>
      <%=f.hidden_field :chat_id, :value => params[:id] %>

        <%= f.text_area :text, class: "form-control" %><br>

      <td><%=f.submit :Send, class: ["btn", "btn-primary"]%></td>
    <%end%>
  </div>
</div>

<footer>
</footer>